<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">

<!-- 전체 게시물의 수 -->


<select resultType="int" id="count">select count(*) from bbs_t </select>

<!-- 나중에 페이징 처리할 때 변경된다. -->


<!-- <select id="list" resultType="com.ict.db.BVO">select * from bbs_t order by b_idx desc</select> -->


<!-- 한페이지에 사용할 행 추출하는 쿼리 -->


<select resultType="com.ict.db.BVO" id="list" parameterType="Map">
	select * from( select rownum r_num, a.* from( select * from bbs_t order by b_idx desc) a )where r_num BETWEEN #{begin} and #{end} 
</select>

<insert id="insert" parameterType="com.ict.db.BVO">
	insert into bbs_t values(bbs_t_seq.nextval,#{subject},#{writer},#{content},#{file_name},#{pwd},sysdate,0, #{u_idx})
</insert>

<select resultType="com.ict.db.BVO" id="onelist" parameterType="String">
	select * from bbs_t where b_idx = #{b_idx}
</select>

<delete id="c_delete_all" parameterType="com.ict.db.BVO">
	delete from comment_t where b_idx = #{b_idx}
</delete>

<delete id="delete" parameterType="com.ict.db.BVO">
	delete from bbs_t where b_idx = #{b_idx}
</delete>

<update id="update" parameterType="com.ict.db.BVO">
	update bbs_t set subject=#{subject}, writer=#{writer}, content=#{content}, file_name=#{file_name} where b_idx=#{b_idx}
	</update>

<update id="hitup" parameterType="String">
	update bbs_t set hit = hit+1 where b_idx = #{b_idx}
</update>

<select resultType="com.ict.db.CVO" id="clist" parameterType="String">
	select * from comment_t where b_idx = #{b_idx}
</select>

<insert id="comm_ins" parameterType="com.ict.db.CVO">
	insert into comment_t values(comment_t_seq.nextval, null,#{content},null,sysdate,#{b_idx},#{u_idx})
</insert>

<delete id="comm_del" parameterType="String">
	delete from comment_t where c_idx = #{c_idx}
</delete>

<select id="login" parameterType="com.ict.db.UVO" resultType="com.ict.db.UVO">
	select * from bbs_u where id=#{id}and pwd=#{pwd}
</select>

<insert id="join" parameterType="com.ict.db.UVO">
	insert into bbs_u values(BBS_U_SEQ.nextval,#{id},#{pwd})
</insert>

</mapper>

















